.App{
    text-align: center;
}
ul{
    list-style: none;
}
li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
button{
    cursor: pointer;
}
.delete{
    color: red;
    cursor: pointer;
}
input:checked + span{
    text-decoration: line-through;
}
/* .span{
    width: 70px;
    height: 40px;
    border: solid 1px blue;
}
.li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1f 1fr;
    grid-row: 1fr 1fr;
} */